<meta name="viewport" content="width=device-width, initial-scale=1.0">


table {
    border: 1px solidcolor;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}